<a href="https://colab.research.google.com/github/dheerajsharma25/python/blob/master/DJ_tests1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"Z" in 'Zena'

True

In [ ]:
"1" in'10'

True

In [ ]:
a=10
b=10
a is b

True

In [ ]:
a=250.5
b=250.5
print(id(a))
print(id(b))
a is b #is Is used to find the memory location of values

138548813145968
138548813148016

False

In [ ]:
#input output

In [ ]:
Marks =int(input("enter the marks: "))
Marks

enter the marks: 10

10

In [ ]:
print("hi,","How are you", end=" ")
print("hi,","How are you Rahul")

hi, How are you hi, How are you Rahul

In [ ]:
name = 'Rahul'
Company= "Deloitte"
Salary = 10000
print('Hello {}, Your Salary is {}, Your company is {}'.format(name,Salary,Company))

Hello Rahul, Your Salary is 10000, Your company is Deloitte

In [ ]:
x = 'upgrad'
print(x[5:3:-1])

da

# New section

In [ ]:
list1 = [1,2,3,4,5]
list1.append([7,8,9])
print(list1)

[1, 2, 3, 4, 5, [7, 8, 9]]

In [ ]:
del list1[5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
list1.extend([101,102,103])
list1

[1, 2, 3, 4, 5, 101, 102, 103]

In [ ]:
list1.index(101)

5

In [ ]:
list1.sort()

In [ ]:
list1

[1, 2, 3, 4, 5, 101, 102, 103]

In [ ]:
salary = (1,2,3,4,5)

In [ ]:
X = list(salary)
X

[1, 2, 3, 4, 5]

In [ ]:
salary=tuple(X)
salary

(1, 2, 3, 4, 5)

In [ ]:
print(23//5)

4

In [ ]:
#Take input using input()

#input() takes input in form of the string
in_string=input()

#here extract the two numbers from the string
listt = in_string.split(',')
x= int(listt[0])
y= int(listt[1])

#print x and y before swapping
print("x before swapping: ", x)
print("y before swapping: ", y)


#Writing your swapping code here
z=x
x=y
y=z

print()
#print x and y after swapping

print("x after swapping: ",x)
print("y after swapping: ",y)

12, 56
x before swapping:  12
y before swapping:  56

x after swapping:  56
y after swapping:  12

In [3]:
#Take input here
#we will take input using ast sys
import ast
input_str = input()

#ast.literal_eval() will evaluate the string and make a data structure for the same
#here the input is a list since input is in '[...]', so ast.literal_eval() will
#make a list with the same data as passed
input_list = ast.literal_eval(input_str)

#the data or the two values in list is now changed to separate variables
day_of_the_week = input_list[0] #first element is an integer denoting the day of the week
is_on_vacation = input_list[1] #this is a boolean denoting if its vacation or not

# write your code here

def alarm_time(day_of_the_week, is_on_vacation):
  weekend = [6,7]
  if is_on_vacation:
    if day_of_the_week not in weekend:
      return '10-00'
    else:
      return 'off'
  else:
    if day_of_the_week not in weekend:
      return '7:00'
    else:
      return '10:00'
print(alarm_time(day_of_the_week, is_on_vacation))

1, False
7:00

In [7]:
#take the input here
number=int(input())



#the function definition starts here
def factorial(n):
    #write the funtion here that finds and RETURNS factorial of next
  fact = 1
  if n<=1:
    return fact
  for i in range(1, n+1):
    fact = fact*i
  return fact



#function definition ends here

#do not alter the code typed below
k=factorial(number)
print(k)

3
6

In [29]:
#take input of the number here
number = int(input())
x = number


#write code to reverse the number here
def reversedd(x):
  if x<0:
    revnum = int(str(abs(x))[::-1])
    return -revnum

  else:
    return int(str(x)[::-1])


z = reversedd(x)
print(z)

6752343
3432576

In [31]:
n = int(input())

r = 0

while(n>0):
  r = r*10+n%10
  print(r)
  n=n//10
print(r)

7896
6
69
698
6987
6987

In [33]:
x = input()
x = x.split(',')
m = int(x[0])
c =int(x[1])


def chocolates(m,c):
  choc = m//c
  w = m//c
  while w//3!=0:
    choc = choc + w//3
    w = w//3 + w%3
  return choc

z = chocolates(m,c)
print(z)

15,2
10

In [35]:
n = 5
for i in range(1,n+1):
  for j in range(n-i):
    print(' ', end='')
  for k in range(i-1):
    print('*_', end='')
  print('*')

0
 1
 2
 3
 *
0
 1
 2
 *_*
0
 1
 *_*_*
0
 *_*_*_*
*_*_*_*_*

In [45]:
#input have been taken for you here
import ast
input_str = input()
input_list = ast.literal_eval(input_str)

#start writing your code here
if len(input_list)==0:
  print("no minimum")
else:
  m=input_list[0]
  for i in input_list:
    if i<m:
      m = i
  print(m)

None

In [49]:
nums = [ [2,4,6,8,10],  4]
data = nums[0]
check = nums[1]

s = 0
for items in data:
  s= s+items

Avg = s/len(data)

if check>Avg:
  print("True")
else:
  print("False")

False

In [56]:
#you have to take input on your own here
import ast
team = ast.literal_eval(input())
applicant = ast.literal_eval(input())
team = list(team)

#write your code here
def check_average(data, check):
  s = sum(data)

  Avg = s/len(data)

  if check>Avg:
    return 1
  else:
    return 0


for appl in applicant:
  is_add = check_average(team, appl)
  if is_add==1:
    team.append(appl)
print(appl)

[23, 45, 34, 76, 70, 94]
[70,34,94]
[23, 45, 34, 76, 70, 94, 70, 94]